.container {
  max-width: 1024px;
  border: 2px solid goldenrod;
  border-radius: 25px;
  display: flex;
  /* background-color: aquamarine; */
}

.icone{
  height: 45px;
  width: 45px;
  padding: 8px;
}

.campoBusca{  
  padding: 10px;
  font-size: 18px;
  /* background-color: beige; */
}

.campoBusca input{
  /* max-width: 90%; */
  border: none;
  outline: none;
  color: goldenrod;
  /* background-color: beige; */
}

.campoBusca input::placeholder {
  text-decoration: underline;
}

@media (max-width: 550px) {
  .container {
    max-width: 90vw;
    background-color: black;
  }

  .campoBusca{
    max-width: 85%;
    /* display: none; */
    background-color: black;
  }  

  .campoBusca input{
    max-width: 85%;
    background-color: black;
  }
   
}
