.container {
  /* max-width: 1024px; */
  border: 2px solid goldenrod;
  border-radius: 25px;
  display: flex;
  /* background-color: aquamarine; */
}

.icone{
  height: 45px;
  width: 45px;
  padding: 8px;
}

.campoBusca{
  /* width: 90%; */
  padding: 10px;
  font-size: 18px;
  /* background-color: beige; */
}

.campoBusca input{
  border: none;
  outline: none;
  color: goldenrod;
}

.campoBusca input::placeholder {
  text-decoration: underline;
}